extends ../base.pug

block variables
  - var template = 'about'
  - var meta = { data: { title: 'About', description: 'About page description' } }

block body
  .about
    .about__content
      | Lorem ipsum dolor sit amet.
