extends ../base.pug

block variables
  - var template = 'home'
  - var meta = { data: { title: 'Home', description: 'Home page description' } }

block body
  .home
    .home__content
      | Lorem ipsum dolor sit amet.
